<!-- Resume Section -->
<section class="success" id="resume">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>Resume</h2>
              <hr class="star-light">
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 text-center">
              <iframe src="pdfs\Matthew_DeCicco_Resume(8_19_26).pdf" width="80%" height="500px"></iframe>
              <p>Link for <a style="color:DodgerBlue;" href="pdfs\Matthew_DeCicco_Resume(8_19_26).pdf">download</a> instead.</p> 
          </div>
      </div>
  </div>
</section>